body {
    background-color: #002e2c;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #59a96a;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.section-container {
    display: flex;
    flex-direction: row;
  justify-content:center;
    margin:auto;
  
  .about-column-1, .about-column-2{
    padding: 10px 60px;
    max-width: 300px;
   line-height: 1.9;
  }

}
a {
    color: #002e2c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #59a96a;
}

footer {
    background-color: #ffd2fc;
    color: #002E2C;
    text-align: center;
    padding: 20px;
}
